<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/bootstraplink.ejs") %>
  </head>
  <body>
    <div class="container">
      <h1>Edit Your lists here</h1>
      <form action="/list/<%=foundList.id%>?_method=PUT" method="POST">
        Date: <input type="text" name="date" value="<%=foundList.date%>" />
        <br />
        <br />
        Name:
        <input type="text" name="name" value="<%=foundList.name%>" />
        <br />
        <br />
        Img:
        <input type="text" name="img" value="<%=foundList.img%>" />
        <br />
        <br />

        <input type="submit" name="submitButton" value="Submit Changes" />
      </form>
    </div>
  </body>
</html>
