<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/bootstraplink.ejs") %>
  </head>
  <body>
    <div class="container">
      <h1>I found my listed item! Let's start editing!</h1>
      <form
        action="/list/<%=foundListItem.id%>/edititem?_method=PUT"
        method="POST"
      >
        name: <input type="text" name="name" value="<%=foundListItem.name%>" />
        <br />
        <br />
        tags: <input type="text" name="tags" value="<%=foundListItem.tags%>" />
        <br />
        <br />

        <input type="submit" name="submitButton" value="Submit edit" />
      </form>
      <a href="/list/<%= foundListItem.listId%>"> <button>Back</button></a>
    </div>
  </body>
</html>
