<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/bootstraplink.ejs") %>
  </head>
  <body>
    <!-- ===============================New Code ======================================== -->

    <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/list"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/list/new">Create a new category</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <!-- ===============================New Code ======================================== -->

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Menu</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <a class="nav-link active" aria-current="page" href="/list">Home</a>
        <a class="nav-link" href="/list/new">Create a new category</a>
      </div>
    </div>

    <!-- ===============================New Code ======================================== -->
    <div class="container">
      <div class="hamMenu">
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
          <i class="bi bi-list"></i>
        </button>
      </div>
      <div class="containerForLists">
        <div class="titleOnListPages">
          <%=foundList.name%>
          <br />
        </div>
        <table class="table table-hover">
          <% for (let i = 0; i < allListItemInformation.length; i++) {%>
          <tr>
            <td class="paddingForTableData">
              <%=allListItemInformation[i].name; %>
              <%=allListItemInformation[i].tags; %>
            </td>
            <td class="paddingForTableData">
              <form
                class="deleteandEditBtn"
                action="/list/<%=allListItemInformation[i].id; %>/deleteitem?_method=DELETE"
                method="POST"
              >
                <input class="deleteButton" type="submit" value="Delete" />

                <a
                  class="editBtn"
                  href="/list/<%=allListItemInformation[i].id; %>/edititem"
                  >Edit</a
                >
              </form>
              <% } %>
            </td>
          </tr>
        </table>

        <br />
        <div class="categoryBtns">
          <a class="btn btn-primary" href="/list/<%=foundList.id;%>/newitem">
            Add a new item
          </a>
          <a class="btn btn-primary" href="/list">Back to categories</a>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- ================================================== -->
