<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/bootstraplink.ejs") %>
  </head>
  <body>
    <div class="container">
      <%=foundList.name%>
      <br />
      <% for (let i = 0; i < allListItemInformation.length; i++) {%>
      <%=allListItemInformation[i].name; %>
      <br />
      <%=allListItemInformation[i].tags; %>
      <br />

      <form
        action="/list/<%=allListItemInformation[i].id; %>/deleteitem?_method=DELETE"
        method="POST"
      >
        <input class="deleteButton" type="submit" value="DELETE" />

        <a href="/list/<%=allListItemInformation[i].id; %>/edititem">Edit</a>
      </form>
      <% } %>
      <a href="/list"> <button>Back to categories</button></a>
      <a href="/list/<%=foundList.id;%>/newitem">
        <button>Create another item for your grocery list!</button></a
      >
    </div>
  </body>
</html>
